<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>it is project.</h1>
    <form action="/analyze" method="post">
        {% csrf_token %}
        <textarea name="text" id=""></textarea><br>
        <input type="checkbox" name="removepune">Removepunc<br>
        <input type="checkbox" name="length" >Length Finde<br>
        <button type="submit">button</button>
    </form>
    
</body>
</html>